@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");
:root {
  --g1: rgb(201, 89, 48);
  --g2: rgb(236, 64, 122);
  --g5: #001220;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  font-family: "Figtree", sans-serif;
  background: url(./bg.svg);
  height: 100vh;
  overflow: hidden;
  background-size: 300vh;
  margin: 0px;
}

body.toggled {
  animation: none;
  background-size: cover;
}

/* Small screens media query */
@media only screen and (max-width: 600px) {
  body.toggled {
    animation: none;
    background: url(./bg-sm.svg) center;
    background-size: cover;
  }
}

body.toggled > #title {
  opacity: 0;
}

body.toggled > #icon {
  opacity: 1;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgba(19, 18, 18, 0.829);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 3;
}

#title > .fancy {
  color: var(--g2);
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  line-height: 0.9em;
}

#icon {
  color: rgba(128, 128, 0, 0.438);
  font-size: 30vmin;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1200ms ease;
  z-index: 1;
  transform: rotate(-45deg);
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.rotate {
  transform: rotate(-45deg);
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
  color: rgb(255, 242, 242);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: #fbae3c;
  transition: color 400ms;
}

@keyframes fancyAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#description {
  font-family: "Jetbrains Mono", monospace;
  color: #fbae3c;
  font-size: 10vmin;
  padding-top: 80px;
  opacity: 1;
  text-wrap: nowrap;
  font-weight: 700;
  animation-duration: 1s ease;
  transition: opacity 0.5s ease-in-out;
}

#description.fading {
  opacity: 0.1;
}

@keyframes letterAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    color: red;
  }
  100% {
    opacity: 0.5;
    transform: translateY(0px);
    color: #fbc43a88;
  }
}

.letter {
  animation: letterAnimation 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: inline-block;
  overflow: hidden;
}
