.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    max-width: 300px;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile:after {
    position: absolute;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.15);
}

.profile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.profile-image svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0.5;
}

.profile-username {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.profile-user-handle {
    color: #7d8396;
}

.profile-actions {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-actions > * {
    margin: 0 0.25rem;
}

.btn--icon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 3px solid #343945;
    color: #7d8396;
}

.btn--icon i {
    font-size: 1.25em;
}

.btn--icon:hover, .btn--icon:focus {
    border-color: #7d8396;
}

.profile-links {
    margin-top: 3.5rem;
}

.link {
    text-decoration: none;
    color: #7d8396;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.link i {
    font-size: 1.25em;
}
